button {
    padding: 10px; /* 調整按鈕的內邊距 */
    font-size: 16px; /* 調整字體大小 */
}

.grid {
    color:  rgb(214, 98, 144) ;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23fff' /%3E%3Crect x='50%' width='1' height='100%' fill='rgb(203 213 225)' /%3E%3Crect y='50%' width='100%' height='1' fill='rgb(203 213 225)' /%3E%3C/svg%3E%0A");
}




.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(214, 98, 144) /* 加入背景色 */
}

.logo {
    margin-right: 20px;
}

.title {
    margin: 0;
    font-size: 60px; /* 設定字體大小 */
    color:  rgb(139, 239, 172);  /* 設定標題文字顏色 */
}
    

    /* 黏性標題欄    */
.sticky-header__header {
    z-index: 2;
    
    position: sticky;
    top: 0;
    background-color: rgb(139, 239, 172); /* 背景色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影效果 */
    padding: 10px; /* 添加一些內邊距 */
    border-radius: 0 0 10px 10px; 
    
}

.sticky-table-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 讓整個按鈕區域高度與標題欄相同 */
    
}

.sticky-table-headers__sticky {
    /* Background color */
    background-color: #9ca3af;

    /* Stick to the left */
    left: 0;
    position: sticky;

    /* Displayed on top of other rows when scrolling */
    z-index: 9999;
}
.sticky-table-headers th {
    padding: 0px; /* 添加一些內邊距 */
}

.sticky-table-headers button {
    background-color: rgb(139, 239, 172);
    color: rgb(161, 54, 97);
    border: none;
    padding: 8px 16px; /* 調整內邊距，使按鈕高度不變，水平方向擴展至 100% */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* 讓按鈕擴展到 100% 的寬度 */
    font-size: 24px; /* 設定固定字體大小 */
}

.sticky-table-headers button:hover {
    background-color: rgb(184, 91, 128);
    color:  rgb(139, 239, 172);
}

.div3 {
    grid-area: 1 / 2 / 6 / 5;
    height:auto; /* 設定高度為整個網頁的高度 */
    background-color: rgba(139, 239, 172, 0.296);  /* 設定背景色 */
    padding: 20px; /* 添加內邊距 */
    text-align: center; /* 文字置中 */

    /* 字體樣式 */
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    line-height: 1.5;

    /* 邊框和陰影效果 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}



/* 可以對內部的文字進行樣式設定 */
.div3 p {
    margin-bottom: 10px;
}

.img-class {
    width: 10%; /* 這裡可以根據需要調整大小，比如 "20%"、"50%" 等 */
    height: auto; /* 保持高度自動調整，以保持圖片比例 */
}
